<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="page-header text-center col-lg-12 col-md-12 col-sm-12">
            <h3>Some answers?</h3>
        </div>
        <div class="answers col-lg-12 col-md-12 col-sm-12">
            <% @projects.each do |project| %>
                <%= render partial: 'project', locals: {project: project} %>
            <% end  %>
        </div>
    </div>
</div>
